/* CSS Reset */

html, body, div, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
  list-style: none;
}

/* css reset end  */
body {
  width: 100vw;
  font-family: Inter, sans-serif;
}

.font-inter {
  font-family: Inter, sans-serif;
}

/* Class to space all elements from the sides, top and bottom of the page */
.page-spacing {
  margin: 1% 3% 2% 3%;
}

.navbar-spacing {
  margin: 0 3% 0 3%;
}

/* Flex classes */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.flex-gap-1 {
  gap: 1rem;
}

.flex-gap-1-5 {
  gap: 1.5rem;
}

.flex-gap-2-5 {
  gap: 2.5rem;
}

/* Align elements at the start of the main axis of the flexbox */
.flex-align-start-ma {
  justify-content: flex-start;
}

/* Align elements at the end of the main axis of the flexbox */
.flex-align-end-ma {
  justify-content: flex-end;
}

/* Center items on flexbox main axis*/
.flex-align-center-ma {
  justify-content: center;
}

.flex-align-between-ma {
  justify-content: space-between;
}

/* Align elements at the start of the cross axis of the flexbox */
.flex-align-content-start-ca {
  align-content: flex-start;
}

/* Align elements at the end of the cross axis of the flexbox */
.flex-align-content-end-ca {
  align-content: flex-end;
}

/* Align elements at the center of the cross axis of the flexbox */
.flex-align-content-center-ca {
  align-content: center;
}

/* Center items on flexbox cross axis*/
.flex-align-items-center-ca {
  align-items: center;
}

/* Align items on flexbox at the start of the cross axis*/
.flex-align-items-start-ca {
  align-items: flex-start;
}

/* Align items on flexbox at the end of the cross axis*/
.flex-align-items-end-ca {
  align-items: flex-end;
}

/* Center items on both flexbox axes*/
.flex-align-center {
  justify-content: center;
  align-items: center;
}

/* Standard button design */
.base-button {
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 9px;
  border: none;
}

.bw-button {
  background-color: black;
  color: white;
}

.grey-button {
  background-color: #f2f2f2;
  color: black;
}

.no-bg-button {
  background-color: #fff;
  color: black;
  font-size: 1.375rem;
}

/* Page header styling */
.page-header {
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  div.header-tag {
    background-color: #D9D9D9;
    color: #777;
    border-radius: 9px;
    padding: 0.3rem 0.4rem 0.3rem 0.4rem;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    font-weight: bold;
  }
}

/* Navbar Styling */
.navbar-absolute {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  min-height: 50px;
  padding: 0;
  width: 94%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar div {
  width: 25vw;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  gap: 0.8rem;
}

.navbar .actions ul {
  justify-content: flex-end;
}

.main a {
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
}

.actions a {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #f2f2f2;
  border-radius: 9px;
  color: black;
  padding: 3px 12px;
  transition: background-color 0.3s ease;
}

.actions .logout {
  background-color: #fff;
}

.actions a:hover {
  background-color: #D9D9D9;
}

.menu-burger {
  display: none;
}

.navbar img {
  height: 55px;
}

.nav-links {
  display: none;
}

.nav-links a {
  color: black;
  font-weight: 600;
}

.nav-links ul {
  flex-direction: column;
  align-items: center;
}

.nav-links li {
  margin: 25px 0;
}

@media screen and (max-width: 1400px) {
  .navbar {
    justify-content: space-between;

  }

  .nav-links {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    margin-left: -100%;
    transition: all 0.5s ease;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 1.2em;
  }

  .actions {
    display: none;
  }

  .main {
    display: none;
  }

  .navbar .nav-links.mobile-menu {
    margin-left: 0;
    width: 100vw;
  }

  .navbar .menu-burger {
    display: flex;
    justify-content: flex-end;
    z-index: 100;
  }
}

/* Button design */
.bw-button {
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 1.56rem;
  border-radius: 9px;
  border: none;
}

/* Footer styling */
.footer {
  background-color: black;
  color: white;
  padding: 1.5rem 0 0.8rem 0;
  gap: 1.5rem;

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.footer-links {
  display: flex;
  gap: 2.5rem;

  a {
    display: flex;
    gap: 0.4rem;
    color: white;
    text-decoration: none;

    p {
      font-weight: 600;
    }
  }
}

.footer-copyright {
  color: #D3D3D3;
  gap: 0.4rem;
}

/* Login & Account creation styling */

div.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.auth {
  margin: auto;
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
}

div.auth > * {
  flex: 1;
  flex-basis: 18rem;
  max-width: 26rem;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
}

.auth-text h1 {
  font-weight: bold;
  font-size: 3.45rem;
  padding-bottom: 15px;
}

.auth-text h2 {
  font-size: 1.5rem;
  color: #4F4F4F;
  padding-bottom: 15px;
}

.auth-input form {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  width: 20rem;
}

.auth-input input[type="text"], .auth-input input[type="password"], .auth-input button, .auth-input select {
  height: 3rem;
}

.auth-input input[type="text"], .auth-input input[type="password"], .auth-input button, .auth-input select, .auth-input textarea {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  border-radius: 9px;
  border-style: solid;
  padding: 0 5% 0 5%;
}

.auth-input input[type=text], .auth-input input[type=password], .auth-input select, .auth-input textarea {
  font-size: 1rem;
  color: #777777;
  border-width: 2px;
}

.auth-input textarea {
  resize: none;
  font-family: Inter, sans-serif;
  height: 7.5rem;
  padding-top: 3%;
}

select.auth-input-extended-select {
  height: 7.5rem;
  padding: 0.25rem;

  option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2rem;
    border-radius: 9px;
    padding-left: 0.8rem;
  }
}

.auth-input div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.auth-input label {
  font-size: 1.2rem;
  color: #777777;
}

.auth-input input[type=checkbox], input[type=radio] {
  height: 1rem;
  width: 1rem;
}

.auth-input button {
  margin-top: 0.9rem;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.56rem;
}

/* Searching pages */
/* Internship page */

div.sorting {
  display: flex;
  margin: 0.5rem 0.5rem 0 0.5rem;
  gap: 2.5rem;
}

button.sorting-category {
  border: none;
  background: none;

  padding: 0.5rem 1rem 0.5rem 1rem;

  border-radius: 9px;

  transition: 0.25s;

  display: flex;
  gap: 0.5rem;

  span {
    font-size: 1.125rem;
  }

  span.far {
    font-size: 1.4rem;
    width: 1.4rem;
    font-weight: bold;
  }
}

button.sorting-category:hover {
  background-color: #f2f2f2;
}

.sorting-category > * {
  display: inline-block;
  gap: 1.2rem;
}

/* Container for search filter sidebar and search results */
main.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* Search sidebar */
.search-filter-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 10rem;
  gap: 3rem;
}

.search-filters {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  font-size: 1.1rem;

  input {
    margin-bottom: 0.8rem;
  }

  p {
    display: flex;
    gap: 0.4rem;
  }

  div:hover {
    text-decoration: underline;
  }

  .far {
    width: 1.4rem;
    text-align: center;
  }
}

.search-bar-small {
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #D9D9D9;
  border-left: none;
  color: #D9D9D9;
  font-size: 1.18rem;
  transition: 0.125s;
  width: 100%;
  height: 3rem;
  background: none;
}

.search-bar-small::placeholder {
  opacity: 1;
}

.search-bar-small:focus {
  color: #777;
  border-bottom-color: #777;
  outline: none;
}

.search-filters p {
  flex-direction: row;
  align-items: center;
}

.search-filters select {
  border: none;
  background-color: white;
  font-family: Inter, sans-serif;
  font-size: 1.1rem;
  width: 100%;
  cursor: pointer;
}

#reset {
  cursor: pointer;
}

#reset:hover {
  color: red;
}
/* Search results */
.internship-container {
  flex: 6;
}

.company-container {
  flex: 6;
}

.rating-container {
  flex: 6;
}

.rating-info {
  word-wrap: break-word;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    font-size: 1.1rem;
    color: #6B7280;
    max-width: 100%;
    line-height: 1.2;
  }
}

/* Represents a single search result */
.search-result-item {
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  padding: 1.5rem 3rem 1.5rem 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.search-result-item:hover {
  border-color: #777;
  transition: 0.225s;
}

.search-result-item-section-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 3.5;
  justify-content: space-between;
}

.search-result-left-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  word-wrap: break-word;

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    font-size: 1.1rem;
    color: #6B7280;
    max-width: 100%;
    line-height: 1.2;
  }
}

.search-result-bottom-info {
  display: flex;
  justify-content: left;
  color: #6B7280;
  width: 100%;
  gap: 1.5rem;

  p {
    display: flex;
    gap: 0.4rem;
  }
}

.search-result-item-section-right {
  flex: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-width: 10rem;

  button {
    height: 2.5rem;
  }
}

.search-result-right-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-result-right-info-item {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  .info-title {
    font-weight: bold;
  }
}

/* Profile pages */

main.profile-page {
  flex: 0 0 60%;
}

aside.profile-page {
  flex: 0 0 20%;
}

.edit-profile {
  position: fixed;
  top: 30vh;
  line-height: 2;

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    gap: 0.5rem;

    span {
      font-size: 1rem;
      font-weight: bold;
      color: black;
    }
  }
}

.profile-info-center {
  text-align: center;
  line-height: 1.2125;
  word-wrap: break-word;
  margin-bottom: 2rem;

  p:first-child {
    font-weight: bold;
    font-size: 1rem;
  }

  p:nth-child(2) {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    width: 6rem;
  }
}

.profile-description {
  font-size: 1.25rem;
  line-height: 1.2125;
  align-items: flex-start;
}

.tabs {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;

  h2:hover {
    color: #222;
    cursor: pointer;
  }
}

.paging {
  gap: 0.8rem;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.4rem;
    height: 1.8rem;
    border-radius: 9px;
    color: #777777;
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: none;
  }
}

/* Company profiles */

.company-rating {
  font-size: 0.5625rem;
  color: #6B7280;

  span {
    font-size: 0.625rem;
    line-height: 1.2125;
  }
}

.company-rating-stars {
  span {
    color: black;
  }
}

/* Users profiles */

.users-headers {
  font-size: 2rem;
  font-weight: bold;
}

/* Tab effect */

.active-tab {
  color: black;
  transition: color 0.3s ease;
}

.inactive-tab {
  color: #6B7280;
  transition: color 0.3s ease;
}

/* Line effect for text decoration */

.line-effect {
  position: relative;
  overflow: hidden; /* Hide the part of ::after that extends outside of a */
}

.line-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.line-effect.hover::after {
  transform: scaleX(1);
}

.error-text {
  color: red;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: -2%;
}

.input-error {
  border-color: red;
}

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Stats
.stats-container {
  border: 3px solid #fff;
  padding: 20px;
}

.stats-child {
  height: 25rem;
  width: 25rem;
  float: left;
  padding: 1rem;
  margin: 0.5rem;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
}

canvas {
  height: 320px;
  width: 320px;
}