/* CSS Reset */

html, body, div, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset end  */

body {
  width: 100vw;
  font-family: Inter, sans-serif;
}

/* Class to space all elements from the sides, top and bottom of the page */
.page-spacing {
  margin: 1% 3% 1% 3%;
}

/* Standard button design */
.bw-button {
  background-color: black; 
  color: white;
  font-weight: 600;
  font-size: 1.56rem;
  border-radius: 9px;
  border: none;
}

/* Navbar Styling */

/* Used to make the navbar not displace other elements on some pages */

.navbar-absolute div.navbar {
  position: absolute;
}

div.navbar {
  height: 55px;
  width: 100%;
  display: flex;
  padding-top: 16px;
  position: sticky;
  justify-content: space-between;
}

.navbar img {
  height: 100%;
}

.navbar a {
  font-weight: bold;
  font-size: 1.25rem;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.navbar button {
  height: 40px;
  width: 90px;
  font-size: 20px;
}

.navbar > * {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-left {
  justify-content: left;
  width: 15%;
  padding-left: 2%;
}

.navbar-center {
  justify-content: center;
  width: 50%;
}

.navbar-right {
  justify-content: space-around; 
  display: flex;
  width: 15%;
  padding-right: 2%;
}

/* Footer styling */
.footer {
  background-color: black;
  color: white;
  padding: 1.5rem 0rem 0.8rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.footer-links {
  display: flex;
  gap: 2.5rem;
  justify-content: center;

  a {
    display: flex;
    gap: 0.4rem;
    color: white;
    text-decoration: none;
    
    p {font-weight: 600;}
  }
}

.footer-copyright {
  color: #D3D3D3;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

/* Login & Account creation styling */

div.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.auth {
  margin: auto;
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
}

div.auth > * {
  flex: 1;
  flex-basis: 18rem;
  max-width: 26rem;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
}

.auth-text h1 {
  font-weight: bold;
  font-size: 3.45rem;
  padding-bottom: 15px;
}

.auth-text h2 {
  font-size: 1.5rem;
  color: #4F4F4F;
  padding-bottom: 15px;
}

.auth-input form {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.auth-input input[type="text"], .auth-input input[type="password"], .auth-input button, .auth-input select {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  border-radius: 9px;
  border-style: solid;
  padding: 0 5% 0 5%;
}

.auth-input input[type=text], .auth-input input[type=password], .auth-input select {
  font-size: 1rem;
  color: #777;
  border-width: 2px;
}

select.auth-input-extended-select {
  height: 7.5rem;
  padding: 0.25rem;

  option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2rem;
    border-radius: 9px;
    padding-left: 0.8rem;
  }
}

.auth-input div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.auth-input label {
  font-size: 1.2rem;
  color: #777;
}

.auth-input input[type=checkbox], input[type=radio] {
  height: 1rem;
  width: 1rem;
}

.auth-input button {
  margin-top: 0.9rem;
  background-color: black; 
  color: white;
  font-weight: bold;
  font-size: 1.56rem;
}

/* Searching pages */
/* Internship page */

header.search-page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 0 2.5rem 0;
}

.search-page-header h1 {
  font-size: 4rem;
  font-weight: bold;
}

div.sorting {
  display: flex;
  margin: 0.5rem 0.5rem 0 0.5rem;
  gap: 2.5rem;
}

button.sorting-category {
  border: none;
  background: none;
 
  padding: 0.5rem 1rem 0.5rem 1rem;
  
  border-radius: 9px;
  
  transition: 0.25s;
  
  display: flex;
  gap: 0.5rem;

  span {
    font-size: 1.125rem;
  }

  span.far {
    font-size: 1.4rem;
    width: 1.4rem;
    font-weight: bold;
  }
}

button.sorting-category:hover {
  background-color: #f2f2f2;
}

.sorting-category > * {
  display: inline-block;
  gap: 1.2rem;
}

/* Container for search filter sidebar and search results */
main.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* Search sidebar */
.search-filter-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 10rem;
  gap: 3rem;
}

.search-filters {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  font-size: 1.1rem;

  input {
    margin-bottom: 0.8rem;
  }

  p {
    display: flex;
    gap: 0.4rem;
  }

  div:hover {
    text-decoration: underline;
  }

  .far {
    width: 1.4rem;
    text-align: center;
  }  
}

.search-bar-small {
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #D9D9D9;
  border-left: none;
  color: #D9D9D9;
  font-size: 1.18rem;
  transition: 0.125s;
  width: 100%;
  height: 3rem;
  background: none;
}

.search-bar-small::placeholder {
  opacity: 1;
}

.search-bar-small:focus {
  color: #777;
  border-bottom-color: #777;
  outline: none;
}

/* Search results */
.search-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 6;
}

/* Represents a single search result */
.search-result-item {
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  padding: 1.5rem 3rem 1.5rem 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.search-result-item:hover {
   border-color: #777;
   transition: 0.225s;
}

.search-result-item-section-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 3.5;
  justify-content: space-between;
}

.search-result-left-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  word-wrap: break-word;
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  p {
    font-size: 1.1rem;
    color: #6B7280;
    max-width: 100%;
    line-height: 1.2;
  }
}

.search-result-bottom-info {
  display: flex;
  justify-content: left;
  color: #6B7280;
  width: 100%;
  gap: 1.5rem;

  p {
    display: flex;
    gap: 0.4rem;
  }
}

.search-result-item-section-right {
  flex: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-width: 10rem;

  button {
    height: 2.5rem;
  }
}

.search-result-right-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-result-right-info-item {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  .info-title {
    font-weight: bold;
  }
}
