<div class="flex-6">
    <!-- Search result items, may be split off into another file -->
    <div class="search-result-item">
        <div class="search-result-item-section-left">
            <div class="search-result-left-info">
                <h1>Feur International</h1>
                <p>
                    Salut
                    dsdsa
                    asdasd
                    asdasdasd
                    asdasd
                    asdasd
                    asdasd
                    asdasd
                    asdasdasd

                    asdasdasd

                    asdaasdd
                </p>
            </div>
            <div class="search-result-bottom-info">
                <p>
                    <span class=far></span>
                    <span>69 Internships offers</span>
                </p>
                <p class="search-result-bottom-info-far">
                    <span class=far></span>
                    <span>420 students working there</span>
                </p>
            </div>
        </div>
        <div class="search-result-item-section-right">
            <div class="search-result-right-info">
                <div class="search-result-right-info-item">
                    <p class="info-title">Location</p>
                    <p>Montcuq, France</p>
                </div>
                <div class="search-result-right-info-item">
                    <p class="info-title">Ratings</p>
                    <p class="fas"></p>
                </div>
            </div>
            <button class="bw-button">View</button>
        </div>
    </div>
</div>