<div class="footer flex-column flex-align-center-ma flex-align-center-ca">
  <h1>Feur International</h1>
  <div class="footer-links">
    <a href="#">
      <p class="far"></p> 
      <p>Statistics</p>
    </a>
    <a href="#">
      <p class="far"></p> 
      <p>Legal</p>
    </a>
    <a href="#">
      <p class="far"></p> 
      <p>About</p>
    </a>
    <a href="#">
      <p class="far"></p> 
      <p>Contact</p>
    </a>
    <a href="#">
      <p class="far"></p> 
      <p>Logout</p>
    </a>
  </div>
  <span class="footer-copyright flex-row">
    <p class="fas"></p>
    <p>Feur International 2069</p>
  </span>
</div>
