<div class="search-result-item">
  <div class="search-result-item-section-left">
    <div class="search-result-left-info">
      <h1 class="search-result-title">
        <!-- Search result title here -->
      </h1>
      <p class="search-result-description">
        <!-- Search result description here -->
      </p>
    </div>
    <div class="search-result-bottom-info">
      <p>
        <span class=far></span>
        <span class="search-result-bottom-info-element"></span>
      </p>
    </div>
  </div>
  <div class="search-result-item-section-right">
    <div class="search-result-right-info">
      <div class="search-result-right-info-item">
        <p class="info-title">Location</p>
        <p class="info-text"></p>
      </div>
      <div class="search-result-right-info-item">
        <p class="info-title">Company</p>
        <p class="info-text"></p>
      </div>
    </div>
    <button class="bw-button">View</button>
  </div>
</div>
