<div class="navbar">
  <div class="navbar-left">
    <img src="img/logo-removebg-preview.png" alt="Logo CESI">
  </div>

  <div class="navbar-center">
    <a class="line-effect" href="internships.html">Internships</a>
    <a class="line-effect" href="companies.html">Companies</a>
    <a class="line-effect" href="#">Users</a>
  </div>

  <div class="navbar-right">
    <a href="create-an-account.html">
      <button class="bw-button">Create</button>
    </a>
    <button class="bw-button">Profile</button>
  </div>
  <script src="script/effects.js"></script>
</div>
