<div class="navbar">
  <div class="navbar-left">
    <img src="img/logo-removebg-preview.png" alt="Logo CESI">
  </div>
  <div class="navbar-center">
    <a class="line-effect" href="internships.html">Internships</a>
    <a class="line-effect" href="companies.html">Companies</a>
    <a class="line-effect" href="#">Users</a>
  </div>
  <div class="navbar-right flex-gap-1">
    <a href="create-an-account.html">
      <button class="base-button grey-button">
        <span class="far"></span>
        <span class="font-inter">Create</span>
      </button>
    </a>
    <a href="users-profile.html">
      <button class="base-button grey-button">
        <span class="far"></span>
        <span class="font-inter">Profile</span>
      </button>
    </a>
    <a href="login.html">
      <button class="base-button no-bg-button far"></button>
    </a>
  </div>
  <script src="script/effects.js"></script>
</div>