<nav class="navbar navbar-spacing">
    <div class="logo">
        <img alt="Logo CESI" src="/img/logo-removebg-preview.png"/>
    </div>
    <div class="main">
        <ul>
            <li>
                <a class="line-effect" href="/internships.html">Internships</a>
            </li>
            <li>
                <a class="line-effect" href="/companies.html">Companies</a>
            </li>
            <li>
                <a class="line-effect" href="/users.html">Users</a>
            </li>
        </ul>
    </div>
    <div class="actions">
        <ul>
            <li>
                <a href="#" id="create">
                    <span class="far"></span>
                    <span> Create</span>
                </a>
            </li>
            <li>
                <a href="/users-profile.html">
                    <span class="far"></span>
                    <span> Profile</span>
                </a>
            </li>
            <li>
                <a class="logout" href="#" id="logout">
                    <span class="far"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-links">
        <ul>
            <li><a href="/internships.html">Internships</a></li>
            <li><a href="/companies.html">Companies</a></li>
            <li><a href="/users.html">Users</a></li>
            <li><a href="#" id="create-2"><span class="far"></span><span> Create</span></a></li>
            <li><a href="/users-profile.html"><span class="far"></span><span> Profile</span></a></li>
            <li><a href="#" id="logout-2"><span class="far"></span><span> Logout</span></a></li>
        </ul>
    </div>
    <div class="fas menu-burger"></div>
</nav>
<script src="/script/effects.js"></script>
