<div class="search-result-item">
    <div class="search-result-item-section-left">
        <div class="rating-info flex-column flex-gap-1">
            <div class="flex-row flex-gap-1 flex-align-items-center-ca">
                <h1 class="company-rating-title">
                    <!-- Search result title here -->
                </h1>
                <p class="company-rating-stars flex-row"></p>
            </div>
            <p class="search-result-description">
                <!-- Search result description here -->
            </p>
        </div>
    </div>
</div>